tr
{
	text-align:center;
}

.van
{
	color:#090;
}

.nincs
{
	color:#F00;
}

.cim22
{
	color:#FFF;
	text-align:center;
	font-size:26px;
}

.link
{
	font-size: 18px;
	color: #000;
	text-decoration: none;
	text-align: center;
}

